<div class="prepend-3" style="padding-top: 25px;">
  <% if @users.size > 0 -%>
      <table class="bottom" style="margin-bottom: -10px; padding-top: 10px;">
          <tr>
              <th>Login</th>
              <th>Created</th>
          </tr>
          <% @users.each do |user| -%>
              <tr>
                  <td><%= link_to user.login, edit_user_path(user) %></td>
                  <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
          <% end -%>
      </table>
  <% end %>
</div>