<%# Created by IntelliJ IDEA.
    User: jbeck
    Date: Mar 28, 2009
    Time: 3:16:49 PM
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Justin Beck - Resume</title>
    <%= stylesheet_link_tag "default" %>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
</head>
<body>
<div align="center">
    <h2>Justin C. Beck</h2>
    <div style="margin-top: -15px">
        E-Mail: <a href="mailto:justinbeck@mac.com">justinbeck@mac.com</a><br />
        <a href="http://www.justinbeck.com">www.justinbeck.com</a>
    </div>
    <div align="left" style="width: 600px; margin-left: .5in">
        <h3>Summary of Experience and Responsibilities</h3>
        <div style="margin-left: 15px">
            <h4><strong>Director of Technical Services:</strong> Software Development Firm</h4>
            <ul style="margin-top: -15px">
                <li>Development and implementation of Agile software development processes</li>
                <li>Development and implementation of client engagement process</li>
                <li>Business development through immersion into local technology community</li>
                <li>Complete management of Software Development and Managed Hosting groups</li>
            </ul>
            <h4><strong>Senior Software Developer:</strong> Software Development Firm</h4>
            <ul style="margin-top: -15px">
                <li>Develop full project architecture</li>
                <li>Lead development efforts in small teams of three or four developers</li>
                <li>Work in short iterations to bring maximum value for customer satisfaction and confidence</li>
                <li>Development and implementation of Agile development environment</li>
                <li>Customer facing role for requirements gathering</li>
            </ul>
            <h4><strong>Java Developer:</strong> Business Rules, Java Development Project</h4>
            <ul style="margin-top: -15px">
                <li>Development of Java application to parse proprietary database schema to SQL Server</li>
                <li>DDL implementation subsequently done using Hibernate and MySQL</li>
                <li>Requirements gathering for Tomcat deployment</li>
            </ul>
            <h4><strong>Director of IT:</strong> Government Consulting Firm</h4>
            <ul style="margin-top: -15px">
                <li>Develop and document all IT processes, policies, procedures and best practices</li>
                <li>Design, implement and maintain company wide network infrastructure</li>
                <li>Provide recommendations on all company hardware and software solutions</li>
                <li>Manage procurement and deployment of all personnel equipment</li>
            </ul>
            <h4><strong>Project Manager:</strong> Database Development Project</h4>
            <ul style="margin-top: -15px">
                <li>Develop and maintain project schedules based on prior client experience</li>
                <li>Manage requirements gathering, documentation, verification and analysis</li>
                <li>Manage design work and ensure design meets requirements</li>
                <li>Manage development work to WBS and requirements</li>
                <li>Provide thought leadership and motivation to project team</li>
            </ul>
            <h4><strong>Systems/Network Administrator</strong></h4>
            <ul style="margin-top: -15px">
                <li>Development of network infrastructure</li>
                <li>Procurement of approved infrastructure equipment</li>
                <li>Installation and configuration of network infrastructure</li>
                <li>Configuration of Windows 2000 servers to operate on network infrastructure</li>
                <li>Configuration of Windows 2000 and XP workstations to operate on network infrastructure</li>
            </ul>
            <h4><strong>Manager of Configuration Management:</strong> Java Development Project</h4>
            <ul style="margin-top: -15px">
                <li>Development and implementation of CM best practices</li>
                <li>Maintenance of CM Server environment</li>
                <li>Selection and procurement of CM literature for development team</li>
                <li>Management of developed Java code</li>
            </ul>
            <h4><strong>Manager of Testing:</strong> Java Development Project</h4>
            <ul style="margin-top: -15px">
                <li>Analysis of developed documentation to produce test harness specifications</li>
                <li>Develop test harnesses in Java</li>
                <li>Develop test procedures and scenarios to ensure thorough testing</li>
                <li>Black box testing of developed code using test harnesses</li>
                <li>Documentation of test results and distribution to developers for error correction</li>
            </ul>
            <h4><strong>Business Consultant:</strong> Government Contract</h4>
            <ul style="margin-top: -15px">
                <li>Manage client relationships and expectations</li>
                <li>Inform client through progress reporting process</li>
                <li>Manage and develop deliverables and work products</li>
            </ul>
        </div>

        <h3>Employment History:</h3>
        <div style="margin-left: 15px">
            <h4>Jan., '05 to Present: Intalgent., Charlottesville, Virginia</h4>
            <p style="margin-left:15px; margin-top: -15px">Senior Software Developer and Lead Developer with six years of software development experience.  Client facing role responsible for requirements gathering and analysis, solutions architecture, implementation, testing and deployment.  Also responsible for a team of three to four developers which entailed assisting peers with technical problems and mentoring.</p><p style="margin-left:15px">Promoted, in January of 2009, to Director of Technical Services.  With over ten years of software development and systems administration experience new responsibilities include management of day to day operations of both software development and managed hosting groups as well as business development and client engagement.  Other responsibilities include the implementation of industry standard technologies with the aim of employing repeatable software development and managed hosting processes and procedures.</p>
            <h4>Oct., '04 to Jan., '05: PRIME Alliance Government Contract., Lanham, Maryland</h4>
            <p style="margin-left:15px; margin-top: -15px">Java Developer responsible for requirements gathering, design, development, testing and implementation of small Java project. Developed an application to convert a proprietary flat file database to a SQL Server DDL.</p>
            <h4>Dec., '01 to Oct., '04: PRIME Alliance Government Contract., Lanham, Maryland</h4>
            <p style="margin-left:15px; margin-top: -15px">Project Manager for database development project. Responsible for management of requirements, design, development, testing, integration, deployment and suppport. Also responsible for documenting and maintaining Java and VB applications used in a Business Rules Engine development and implementation project.</p>
            <h4>Jun., '01 to Jan., '05: Organization Solutions Inc., Annapolis, Maryland</h4>
            <p style="margin-left:15px; margin-top: -15px">Responsible for management of the IT department including the design, recommendation, development, deployment and maintenance of the company network and intranet. Other responsibilities include the recommendation, acquisition and deployment of employee hardware and technical support systems and the design and deployment of secure remote data stores including security and fire protection.</p>
            <h4>Mar., '01 to Jun., '01: Unetworks Inc., Charlottesville, Virginia</h4>
            <p style="margin-left:15px; margin-top: -15px">Responsible to the CIO and CTO as Manager of the Configuration Management (CM) and Testing Department. This included development of processes and procedures, implementation of Concurrent Versioning System (CVS) CM software, management of developer code and development of Java test harnesses.</p>
            <h4>Dec., '00 to Mar., '01: Optisel, Charlottesville, Virginia</h4>
            <p style="margin-left:15px; margin-top: -15px">Responsible to the Senior Development Manager for the development of Siebel applications. Trained for Siebel development by Merisel and subsequently applied those skills to create a Customer Account Management application to compliment the existing order fulfillment system.</p>
            <h4>Apr., '99 to Dec., '00: Value America Inc., Charlottesville, Virginia</h4>
            <p style="margin-left:15px; margin-top: -15px">Systems/Network Administrator responsible for power and cooling management and monitoring, web farm administration and maintenance and server outage troubleshooting. Also responsible for the establishment and operation of automated load testing of the Value America site and for managing and releasing the static and dynamic content on the site.</p>
            <h4>Nov., '97 to Apr., '99: The Wolf-Trap Foundation, Vienna, Virginia</h4>
            <p style="margin-left:15px; margin-top: -15px">Responsible to the Director of Development for requirements analysis, Access database development, daily maintenance of proprietary database involving import, export and manipulation of outside data, and LAN administration.</p>
        </div>

        <h3>Education:</h3>
        <div style="margin-left: 15px">
            <p>Sept., '03: Microsoft Certified Systems Administrator (MCSA) + Security</p>
            <p>Aug., '02: Cisco Certified Network Associate (CCNA)</p>
            <p>Sept., '92 to Jul., '97 Northern Virginia Community College: AS. In Computer Science (GPA: 3.18)</p>
        </div>

        <h3>Skills:</h3>
        <div style="margin-left: 15px">
            <p><strong>Software Development:</strong> Java 1.4.x, 5 & 6, JavaScript, HTML, Hibernate, Tapestry, Struts, JSP, Spring, Lucene & Solr, Quartz, MySQL, HSQLDB, JBoss, Ant, JUnit, Ruby on Rails, Groovy on Grails, Python</p>
            <p><strong>Sys./Net. Admin.:</strong> LAN/WAN technologies, Ethernet, TCP/IP, Network architecture and design, Cisco PIX and IOS configuration, DNS, WINS, DHCP</p>
            <p><strong>Operating Systems:</strong> Mac OS X, Ubuntu, Redhat Linux, Cent OS, Fedora, IBM OS/2, Windows 2000 Server/Professional, Windows XP Professional</p>
            <p><strong>CM:</strong> Concurrent Versioning System, Subversion, Git</p>
            <p><strong>CI:</strong> Bamboo</p>
            <p><strong>Agile Development:</strong> Scrum, XP</p>
            <p><strong>Other:</strong> Twisted pair and thin coax network cable installation and repair</p>
        </div>
    </div>
</div>
</body>
</html>
