<%# Created by IntelliJ IDEA.
    User: jbeck
    Date: Apr 19, 2009
    Time: 2:45:45 PM
%>
<div style="padding-top: 15px;">
    <%= image_tag "justin_about.jpg", :alt => 'Justin C Beck', :size => "115x279", :style => "border:1px solid #fff; margin-right: 10px; float: left;" %>
    <p>My name is Justin Beck. I am the Director of Technical Services at Intalgent, a Software Development Company in Charlottesville, Virginia.  I manage the software development, quality assurance, project management and systems administration teams which totals eight people.</p>
    <p>I am primarily interested in streamlining our business processes, matching technologies to business needs and developing relationships with like minded professionals in the technology community. In my <i>spare</i> time I try to stay current on technologies by writing my own code to solve various problems I have at home.</p>
    <p>I live in Crozet, Virginia with my wife Sarah. I have two children named Anna and Numero Dos, a dog named Porter and a terminally ill (for the past 5 years) cat named Jimmy. I successfully raced bicycles at one point in my life although now I just ride them.</p>
</div>