<div style="padding-left: 10px; width: 147px; border: 1px solid #fff; margin-bottom: 10px;">
    <h5 style="margin: 0; padding: 5px 0 5px 0;">Administration</h5>
        <h6 style="margin: 0; padding: 5px 0 5px 0;">Posts</h6>
        <%= link_to 'New Post', '/posts/new' %><br />
        <%= link_to 'Posts', '/posts/list' %><br />
        &nbsp;<br />
</div>
